/********************* General *********************/
body {
  background: #f9f9f9;
  font-family: Helvetica, sans-serif;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.page {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  margin: 50px 15px;
  background-color: #fff;
  border-radius: 5px;
  padding: 50px;
}

/********************* Header *********************/
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.page-header h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #5fa3fb;
  margin-bottom: 20px;
}

.page-header .student-search input {
  border-radius: 20px;
  border: 1px solid #eaeaea;
  padding: 10px 20px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.page-header .student-search button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  background: #5fa3fb;
  background: linear-gradient(to right, #5fa3fb 0%,#7f78f7 100%);
  color: #fff;
  text-transform: uppercase;
}

/********************* Student List *********************/
.student-item {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.student-details .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.img-container {
  position: relative;
  z-index: 1;
}

.img-container::before {
  content: '';
  width: 56px;
  height: 56px;
  background: #5fa3fb;
  background: linear-gradient(to right, #5fa3fb 0%,#7f78f7 100%);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.student-details h3 {
  text-transform: capitalize;
  margin: 4px 0 2px 0;
  font-weight: bold;
  color: #555;
}

.student-details .email {
  color: #888;
  font-size: 0.875rem;
  margin: 0;
}

.joined-details .date {
  margin-top: 5px;
  display: block;
  font-size: 0.875rem;
  color: #999;
}

.student-item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.message {
  text-align: center;
  font-size: 21px;
  color: #444;
}

/********************* Pagination *********************/
.pagination {
  margin: 40px 0 0 0;
  text-align: center;
}
 
.pagination li {
  display: inline;
  margin-right: 5px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: #555;
}

.pagination li a.active,
.pagination li a:hover{
  background: #5fa3fb;
  background: linear-gradient(to right, #5fa3fb 0%,#7f78f7 100%);
  color: #fff;
}

/********************* Media Queries *********************/
@media screen and (min-width: 767px) {
  /* General */
  .page {
    margin: 50px auto;
    width: 70%;
  }

  /* Header */
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-header h2 {
    margin-bottom: 0;
  }
  .page-header .student-search {
    margin-left: auto;
  }
  .page-header .student-search input {
    margin-bottom: 0;
  }

  /* Student List */
  .student-details {
    width: 50%;
    text-align: left;
    height: 20px;
  }
  .joined-details {
    width: 50%;
    float: right;
    text-align: right;
  }
  .joined-details .date {
    margin-top: 0;
  }
  .student-details .avatar {
    float: left;
    margin-right: 15px;
  }
  .img-container::before {
    top: -3px;
    left: -3px;
    transform: initial;
  }

  /* Pagination */
  .pagination li {
    margin-right: 15px;
  }
}
@media screen and (min-width: 991px) {
  /* Header */
  .page-header {
    margin-bottom: 30px;
  }
  .page-header h2 {
    font-size: 3.5rem;
  }
  .page-header .student-search input {
    margin-right: 10px;
  }
}